* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 86.5%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
#oui{
	color: green;
}
#non{
	color: red;
}

.btnsupprimer {
  background-color: #45489a;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btnsupprimer:hover {
  background-color: RoyalBlue;
}
#tri_liste{
	border-radius: 0px;
    padding-left: 10px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: 1px solid #eee;
    outline: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 11%;
	margin-left: 2%;
	display: inline-block;
}

